.header {
    background-color: #293b2c;
    padding: 20px; 
    height: 120px; 
    background-size: contain; 
    background-position: center; 
    display: flex;
    align-items: center;
}
  
.header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0; 
    padding: 0; 
    margin-left: 320px;
}
  
.header nav ul li {
    display: inline;
    margin-left: 100px;
}
  
.header nav ul li a {
    color: #f7f4ed;;
    text-decoration: none;
    padding: 10px;
    font-weight:bold;
    font-size: 20px;
}
  
